@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {}

// ≥992px
@include media-breakpoint-down(md) {}

// ≥768px
@include media-breakpoint-down(sm) {}

// ≥576px
@include media-breakpoint-down(xs) {}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {
    .header__h1 {
        padding: 23px 29px;
        font-size: 31px;
        line-height: 1.5em;
    }
}

// ≤768px
@include media-breakpoint-up(md) {
    
}

    // .header__h1 {
    //     margin-top: 92px;
    //     padding: 25px 18px;
    //     font-size: 44px;
    //     line-height: 1.5em;
    // }

    // .button_header {}

    // .contacts__address,
    // .contacts__worktime {
    //     font-size: 15px;
    //     line-height: 30px;
    // }

    // .nav-main__link {
    //     padding: 18px 13px;
    // }

    // .topline-button-wrapper {
    //     text-align: center;
    // }
// }

// ≤992px
@include media-breakpoint-up(lg) {
    .header-logo {
        &__text {
            white-space: normal;
        }
    }

    .header-logo__img {
        margin-top: 31px;
    }
}

// ≤1200px
@include media-breakpoint-up(xl) {}