@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent-blue;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;

	input,
	textarea {
		border: #666 1px solid;
		outline: none;

		&:focus:required:invalid {
			border-color: red;
		}

		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;

	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b,
strong {
	font-weight: bold;
}

//Основная стилизация
body {
	border-top: 8px solid $accent-blue;
	padding-top: 24px;
}

.logo {
	width: 272px;
	height: 111px;
}

.button-yellow {
	display: inline-block;
	padding: 21px 34px 20px;
	background-color: $accent-yellow;
	font-size: 14px;
	font-weight: bold;
	line-height: 0;
	text-transform: uppercase;
	border: none;
	border-radius: 42px;
	transition: all 0.2s;
	cursor: pointer;

	&:hover {
		background-color: lighten($accent-yellow, 10%);

	}

	&:active {
		background-color: darken($accent-yellow, 7%);
	}

	&:active,
	&:focus {
		outline: none;
	}
}

.button-header {
	margin: 0 -22px 8px;
}

.button-descr {
	width: 100%;
	display: inline-block;
	text-align: center;
	color: $text-gray;
	font-size: 11px;
}

.header {
	position: relative;
}

.contacts {
	&__title {
		color: $text-gray;
		margin-bottom: 5px;
	}

	&__address,
	&__worktime {
		font-size: 16px;
		line-height: 30px;
	}

	&-phone {
		display: block;
		font: bold 18px/24px "Lato-Bold", sans-serif;
		color: $text;
		margin-bottom: 5px;

		&:hover {
			color: $text;
		}

		&__span {
			font-size: 24px;
			line-height: 18px;
		}
	}
}

.our-phones {
	margin-bottom: 10px;
}

.nav-wrapper {
	display: flex;
	justify-content: space-between;
	background-color: #f1f5f9;
}

.nav-main__ul {
	display: flex;
	align-items: stretch;
	list-style: none;
	margin-bottom: 0;
}

.nav-main__link {
	display: block;
	text-decoration: none;
	color: $text;
	padding: 18px 20px;
	min-height: 62px;
	cursor: pointer;
	transition: all 0.3s;

	&:hover {
		background-color: $accent-blue;
		color: #fff;
		text-decoration: none;
	}
}

.search-form {
	position: relative;
	width: 80%;
}

.search-icon {
	position: absolute;
	top: 11px;
	left: 15px;
	color: #999797;
}

.search-form__input {
	color: #999797;
	padding: 5px 5px;
	border: none;
	width: 100%;
	border-radius: 18px;
	text-indent: 35px;

	&::-webkit-input-placeholder {
		color: #999797;
	}
}

.header__bg {
	min-height: 500px;
}

.header__h1 {
	margin-top: 80px;
	padding: 45px 55px;
	background-color: #fff;
	opacity: 0.78;
	text-transform: uppercase;
	font: bold 48px/65px "Lato-Bold", sans-serif;
}

//Стилизация блока Advantages

.advantages {
	padding: 32px 0;
}

.h2 {
	width: 100%;
	display: inline-block;
	text-align: center;
	font: bold 36px "Lato-Bold", sans-serif;
	color: $accent-blue;
}

.advantages__header {
	margin-bottom: 55px;
}

.h3 {
	color: $text;
	font: bold 16px "Lato-Bold", sans-serif;
	text-transform: uppercase;
}

.adv-item__h3 {
	margin-bottom: 8px;
}

.adv-item {
	display: inline-block;
	text-align: center;

	&__img-wrapper {
		display: inline-block;
		width: 152px;
		height: 152px;
		border-radius: 50%;
		background-color: #dbdcdd;
		margin-bottom: 27px;
	}

	&__img {
		display: inline-block;
		vertical-align: middle;
		transform: translateY(60%);
	}

	&__descr {
		color: #929394;
	}
}




















.map {
	height: 408px;
}

//Проверка github


@import "media"; // Always at the end
